<form method="post">
  {% csrf_token %}
  
  {{ form.non_field_errors }}

  <div>
    <label for="title">Title</label>
    {{ form.title }}
    {{ form.title.errors }}
  </div>

  <div>
    <label for="description">Description</label>
    {{ form.description }}
    {{ form.description.errors }}
  </div>

  <div>
    <label for="category">Category (Optional)</label>
    {{ form.category }}
    {{ form.category.errors }}
  </div>

  <div>
    <label for="date">Date</label>
    {{ form.date }}
    {{ form.date.errors }}
  </div>

  <button type="submit">Create</button>
</form>

